<section class="menu">
     <div class="Welcome">
        <h1>My portfolio</h1>
</div>
    </div>
       <img src="/img/brand.png" alt="Ahmednur's Image" class="brand" class="brand">
        </div>
    
    <nav class="navbar"> 
    

            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
             <li><a href="/skills">Skills</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/resume">Resume</a></li>
            {{#if isLoggedIn}}
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
        {{#if isLoggedIn}}
        <div class="to-the-right">
            Hi, {{name}}! 
        </div>
        {{/if}}
    </nav>
</section>