<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My portfolio</title>
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="/css/styles-jl.css">
    </head>
    <body>
        {{> menu}}
        <div class="page-content">
        {{{body}}} 
    </div>
        <footer>
    <p>&copy; 2023 Ahmednur. All Rights Reserved.</p>
</footer>

    </body>
</html>