<section class="contact-info">
    <h2>Contact Ahmednur</h2>
    
    
    <p>&#9742: tel:+4670 426 72 92</p> 

    
    <p><a href="mailto:ahmednur@email.com">&#9993: ahmednur603@gmail.com</a></p> 

    
    <ul class="social-links">
        <li><a href="https://www.linkedin.com/in/ahmednur-mahamud-a43b55263/" target="_blank">LinkedIn</a></li>
    </ul>
</section>