<section class="hero">
    <div class="me">
    <h1>Ahmednur</h1>
    <p>Software Developer & Innovator</p>
    </div>
    <div class="image">
    <img src="/img/myimage.png" alt="Ahmednur's Image" class="myimage">
    </div>
</section>