<section class="resume">
    <h1>My Resume</h1>
    <p>You can view and download my full resume by clicking the button below.</p>
    <a href="" download>Download Resume</a>
</section>
<section class="container sec">
        <div class="columns">

            <div class="column col-4">
                <img class="photo" src="img/myimage.png" alt="Ahmednur Picture">
                <div class="AboutMe">
                    <h3>Profile</h3>
                    <p>Hardworking College Student seeking employment. Bringing forth a motivated attitude and<br> a variety of powerful skills. Adept in various social media platforms and office technology programs.<br /> 
                    Committed to utilizing my skills
                        to further the mission of a company.<br /> 
                        Dedicated Customer Service Representative dedicated to providing quality care for ultimate customer satisfaction.<br /> 
                        Proven ability to establish and maintain excellent communication and
                        relationships with clients.
                        <br /> Highly skilled and dynamic Network Systems Analyst, bringing forth the ability to effectively manage and oversee optimal network services for organizations..</p>

                    <h5>Firstname: Ahmednur</h5>
                    <h5>Lastname: Mahmaud</h5>
                    <h5>&#9742; Phone number: 07 04 26 72 92</h5>
                    <h5>&#9993; Email: Ahmednur603@gmail.com</h5>
                    <h5>Adress: Knektgatan 43, 58738, Linköping</h5>


                </div>
            </div>


            <div class="column col-8">
                <div class="Education">
                    <h3>Education</h3>
                    <ul>
                        <li> High School, Berzelius skolan, 2017-2020</li>
                        <li>University, Jonkoping (currently studying computer science)</li>
                    </ul>

                </div>
                <div class="Skills">
                    <h3>Skills</h3>
                    <ul>
                        <li>C++ Programming</li>
                        <li>Web Development</li>
                        <li>Front-end devoloper</li>
                        <li>Back-end devoloper</li>
                        <li>Javascript</li>
                        <li>Python</li>
                        <li>c#</li>
                        <li>SQL</li>

                    </ul>

                </div>
                <div class="Professional">
                    <h3>Professional experience</h3>
                    <ul>
                        <li> Customer service, 2021-2022</li>
                        <li>warehouse worker, 2022 (currently)</li>
                        <li>car driver (currently)</li>

                    </ul>


                </div>
            </div>
        </div>
    </section>